<div class="border-bottom flex justify-between m-6">
  <div class="logo-section flex">
    <img src="/images/bucketicn.png" class="mr-2" alt="Logo icon" />
    <h2>YoloLog</h2>
  </div>
  <a href="/signout" class="font-xl">Sign Out</a>
</div>
